<h1 mat-dialog-title>Wollen Sie '{{vehicle.licensePlate}}' wirklich löschen?</h1>
<div mat-dialog-content>
  <p>Die Löschung kann nicht mehr rückgängig gemacht werden.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="abort()">Abbrechen</button>
  <button mat-button id="confirmDelete" (click)="delete()" color="warn" cdkFocusInitial>Löschen</button>
</div>
