<div id="bg">
  <img src="assets/background.jpg" alt="">
</div>

<mat-card>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>

      <app-message-box [message]="message"></app-message-box>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Benutzername</mat-label>
          <input matInput id="username" type="text" formControlName="username" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Passwort</mat-label>
          <input matInput id="password" type="text" formControlName="password" [type]="hide ? 'password' : 'text'"
                 required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Bitte geben Sie ein gültiges Passwort ein
          </mat-error>
        </mat-form-field>
      </div>

      <div id="register-link">
        <a [routerLink]="['/register']">Noch kein Kunde?</a>
      </div>

      <button mat-raised-button id="login" color="primary" [disabled]="!registerForm.valid || load">Login</button>
      <mat-progress-spinner style="display: inline; margin-left: 7px;" mode="indeterminate" diameter="20"
                            *ngIf="load"></mat-progress-spinner>
    </form>

  </mat-card-content>
</mat-card>
