table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: 12px 12px 12px 0;
}

.button-bar {
  padding: 50px;
}

#add-button {
  position: absolute;
  right: 50px;
  bottom: 0;
  margin: 15px;
}
