<table mat-table [dataSource]="allVehicles$">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="vin">
    <th mat-header-cell *matHeaderCellDef> VIN</th>
    <td mat-cell *matCellDef="let element"> {{element.vin}} </td>
  </ng-container>
  <ng-container matColumnDef="licensePlate">
    <th mat-header-cell *matHeaderCellDef> Kennzeichen</th>
    <td mat-cell *matCellDef="let element"> {{element.licensePlate}} </td>
  </ng-container>
  <ng-container matColumnDef="registrationDate">
    <th mat-header-cell *matHeaderCellDef> Registrierungsdatum</th>
    <td mat-cell *matCellDef="let element"> {{element.registrationDate}} </td>
  </ng-container>
  <ng-container matColumnDef="purchasePrice">
    <th mat-header-cell *matHeaderCellDef> Kaufpreis</th>
    <td mat-cell *matCellDef="let element"> {{element.purchasePrice}} </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Marke</th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Modell</th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>
  <ng-container matColumnDef="lat">
    <th mat-header-cell *matHeaderCellDef> Lat</th>
    <td mat-cell *matCellDef="let element"> {{element.lat}} </td>
  </ng-container>
  <ng-container matColumnDef="lng">
    <th mat-header-cell *matHeaderCellDef> Lng</th>
    <td mat-cell *matCellDef="let element"> {{element.lng}} </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Löschen</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" aria-label="Delete" (click)="delete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="button-bar">
  <div id="add-button">
    <button (click)="new()" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
