<h2 mat-dialog-title *ngIf="!formGroup.get('id').value">Fahrzeug erstellen</h2>
<h2 mat-dialog-title *ngIf="formGroup.get('id').value">Fahrzeug bearbeiten</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <form [formGroup]="formGroup" class="form">
      <mat-form-field class="form-element">
        <input matInput id="vin" placeholder="VIN" formControlName="vin" required>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput id="licensePlate" placeholder="Kennzeichen" formControlName="licensePlate" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Registrierungsdatum</mat-label>
        <input matInput formControlName="registrationDate" [matDatepicker]="picker" id="registrationDate"
               placeholder="mm/dd/yyyy" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput type="number" id="purchasePrice" placeholder="Kaufpreis" formControlName="purchasePrice"
               required>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput id="brand" placeholder="Marke" formControlName="brand" required>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput id="model" placeholder="Modell" formControlName="model" required>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput type="number" id="lat" placeholder="Lat" formControlName="lat" required>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput type="number" id="lng" placeholder="Lng" formControlName="lng" required>
      </mat-form-field>
    </form>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    Abbrechen
  </button>
  <button mat-raised-button color="primary" [disabled]="!formGroup.valid"
          (click)="submit(formGroup.value)">
    <span *ngIf="!formGroup.get('id').value">Erstellen</span>
    <span *ngIf="formGroup.get('id').value">Bearbeiten</span>
  </button>
</mat-dialog-actions>
