<h2>Schnell und günstig ans Ziel!</h2>
 <mat-dialog-content class="mat-typography">
  <div class="container">
    <form [formGroup]="formGroup" class="form">
      <mat-form-field class="form-element">
        <input matInput id="numberOfPersons" placeholder="Anz. Passagiere" formControlName="numberOfPersons" required>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput id="start" placeholder="Start" formControlName="start" required>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput id="destination" placeholder="Ziel" formControlName="destination" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="startingTime" [matDatepicker]="datepicker" >
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Startzeit</mat-label>
        <input matInput formControlName="startingTime" id="startingTime"
               [ngxTimepicker]="timePicker" [format]="24"
               placeholder="hh:mm" (change)="changeTime($event)" required>
        <ngx-material-timepicker #timePicker [defaultTime]="getTime()"></ngx-material-timepicker>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="submitRequest(formGroup.value)">
    Anfragen!
  </button>
</mat-dialog-actions>
<table>
  <tr *ngFor="let currentOffer of currentOffers">
    <td>
      ID: {{currentOffer.id}}
    </td>
    <td>
      Preis: {{currentOffer.price}}
    </td>
    <td>
      <button mat-raised-button (click)="acceptOffer(currentOffer.id)">Annehmen</button>
    </td>
  </tr>
</table>
