#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

mat-card {
  max-width: 400px;
  margin: 5em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

#login-link {
  margin-bottom: 1em;
}

#login-link a {
  color: gray;
}
