<div id="bg">
  <img src="assets/background.jpg" alt="">
</div>

<mat-card>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <h2>Registrierung</h2>

      <app-message-box [message]="message"></app-message-box>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Benutzername</mat-label>
          <input matInput id="username" type="text" formControlName="username" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>E-Mail</mat-label>
          <input matInput id="email" type="email" formControlName="email" required>
          <mat-error>
            Bitte geben Sie eine gültige E-Mail Adresse an
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Passwort</mat-label>
          <input matInput id="password" type="text" formControlName="password" [type]="hide ? 'password' : 'text'"
                 required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Bitte geben Sie ein gültiges Passwort ein
          </mat-error>
        </mat-form-field>
      </div>

      <div id="login-link">
        <a [routerLink]="['/login']">Sind Sie bereits Kunde?</a>
      </div>

      <button id="register" mat-raised-button color="primary" [disabled]="!registerForm.valid || load"
              (click)="onSubmit()">Registrieren
      </button>
      <mat-progress-spinner style="display: inline; margin-left: 7px;" mode="indeterminate" diameter="20"
                            *ngIf="load"></mat-progress-spinner>
    </form>

  </mat-card-content>
</mat-card>
